body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-102px;
  width:695px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:105px;
  width:225px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:733px;
  top:105px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:188px;
  width:627px;
  height:117px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
  display:flex;
  transition:none;
}
#u199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:49px;
}
#u199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:0px;
  width:88px;
  height:49px;
  display:flex;
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:49px;
}
#u200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:105px;
  height:49px;
  display:flex;
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#3F3F46;
}
#u201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:49px;
}
#u201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:0px;
  width:111px;
  height:49px;
  display:flex;
  transition:none;
}
#u202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:49px;
}
#u202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:0px;
  width:171px;
  height:49px;
  display:flex;
  transition:none;
}
#u203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:49px;
}
#u203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:152px;
  height:34px;
  display:flex;
  transition:none;
}
#u204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:49px;
  width:88px;
  height:34px;
  display:flex;
  transition:none;
}
#u205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:49px;
  width:105px;
  height:34px;
  display:flex;
  transition:none;
}
#u206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
}
#u206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:49px;
  width:111px;
  height:34px;
  display:flex;
  transition:none;
}
#u207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
}
#u207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:49px;
  width:171px;
  height:34px;
  display:flex;
  transition:none;
}
#u208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:34px;
}
#u208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:152px;
  height:34px;
  display:flex;
  transition:none;
}
#u209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:34px;
}
#u209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:152px;
  top:83px;
  width:88px;
  height:34px;
  display:flex;
  transition:none;
}
#u210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:34px;
}
#u210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:83px;
  width:105px;
  height:34px;
  display:flex;
  transition:none;
}
#u211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:34px;
}
#u211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:83px;
  width:111px;
  height:34px;
  display:flex;
  transition:none;
}
#u212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
}
#u212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:456px;
  top:83px;
  width:171px;
  height:34px;
  display:flex;
  transition:none;
}
#u213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:34px;
}
#u213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#AAAAAA;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:359px;
  top:105px;
  width:154px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#AAAAAA;
}
#u214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u215_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(170, 170, 170, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:545px;
  top:105px;
  width:154px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Inter", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#AAAAAA;
}
#u215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
