body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-257px;
  width:1402px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7019_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7019 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:307px;
  width:277px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7019 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7019_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7020 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:453px;
  width:1402px;
  height:109px;
}
#u7021 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
  display:flex;
  transition:none;
}
#u7021 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7021_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
}
#u7021_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7022 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:87px;
  height:49px;
  display:flex;
  transition:none;
}
#u7022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7022_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u7022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7023 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:0px;
  width:83px;
  height:49px;
  display:flex;
  transition:none;
}
#u7023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7023_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:49px;
}
#u7023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7024 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:0px;
  width:81px;
  height:49px;
  display:flex;
  transition:none;
}
#u7024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7024_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:49px;
}
#u7024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7025 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:0px;
  width:87px;
  height:49px;
  display:flex;
  transition:none;
}
#u7025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7025_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u7025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7026 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:0px;
  width:93px;
  height:49px;
  display:flex;
  transition:none;
}
#u7026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7026_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:49px;
}
#u7026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7027 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:0px;
  width:100px;
  height:49px;
  display:flex;
  transition:none;
}
#u7027 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7027_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u7027_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7028 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:0px;
  width:104px;
  height:49px;
  display:flex;
  transition:none;
}
#u7028 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7028_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:49px;
}
#u7028_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7029 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:102px;
  height:49px;
  display:flex;
  transition:none;
}
#u7029 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7029_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:49px;
}
#u7029_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7030 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:0px;
  width:96px;
  height:49px;
  display:flex;
  transition:none;
}
#u7030 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7030_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:49px;
}
#u7030_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7031 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:0px;
  width:87px;
  height:49px;
  display:flex;
  transition:none;
}
#u7031 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7031_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:49px;
}
#u7031_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7032 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:0px;
  width:95px;
  height:49px;
  display:flex;
  transition:none;
}
#u7032 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7032_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:49px;
}
#u7032_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7033 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:0px;
  width:98px;
  height:49px;
  display:flex;
  transition:none;
}
#u7033 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7033_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u7033_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7034 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:0px;
  width:80px;
  height:49px;
  display:flex;
  transition:none;
}
#u7034 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7034_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:49px;
}
#u7034_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7035 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:0px;
  width:94px;
  height:49px;
  display:flex;
  transition:none;
}
#u7035 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7035_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:49px;
}
#u7035_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7036 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u7036 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7036_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7036_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7037 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:49px;
  width:87px;
  height:30px;
  display:flex;
  transition:none;
}
#u7037 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7037_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u7037_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7038 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:49px;
  width:83px;
  height:30px;
  display:flex;
  transition:none;
}
#u7038 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7038_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u7038_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7039 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:49px;
  width:81px;
  height:30px;
  display:flex;
  transition:none;
}
#u7039 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7039_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u7039_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7040 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:49px;
  width:87px;
  height:30px;
  display:flex;
  transition:none;
}
#u7040 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7040_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u7040_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7041 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:49px;
  width:93px;
  height:30px;
  display:flex;
  transition:none;
}
#u7041 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7041_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u7041_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7042 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:49px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u7042 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7042_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7042_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7043 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:49px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u7043 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7043_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u7043_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7044 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:49px;
  width:102px;
  height:30px;
  display:flex;
  transition:none;
}
#u7044 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7044_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u7044_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7045 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:49px;
  width:96px;
  height:30px;
  display:flex;
  transition:none;
}
#u7045 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7045_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u7045_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7046 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:49px;
  width:87px;
  height:30px;
  display:flex;
  transition:none;
}
#u7046 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7046_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u7046_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7047 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:49px;
  width:95px;
  height:30px;
  display:flex;
  transition:none;
}
#u7047 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7047_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u7047_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7048 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:49px;
  width:98px;
  height:30px;
  display:flex;
  transition:none;
}
#u7048 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7048_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u7048_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7049 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:49px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
}
#u7049 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7049_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u7049_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7050 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:49px;
  width:94px;
  height:30px;
  display:flex;
  transition:none;
}
#u7050 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7050_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u7050_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7051 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u7051 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7051_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u7051_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7052 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:79px;
  width:87px;
  height:30px;
  display:flex;
  transition:none;
}
#u7052 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7052_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u7052_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7053 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:79px;
  width:83px;
  height:30px;
  display:flex;
  transition:none;
}
#u7053 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7053_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:30px;
}
#u7053_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7054 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:79px;
  width:81px;
  height:30px;
  display:flex;
  transition:none;
}
#u7054 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7054_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u7054_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7055 {
  border-width:0px;
  position:absolute;
  left:366px;
  top:79px;
  width:87px;
  height:30px;
  display:flex;
  transition:none;
}
#u7055 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7055_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u7055_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7056 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:79px;
  width:93px;
  height:30px;
  display:flex;
  transition:none;
}
#u7056 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7056_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:30px;
}
#u7056_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7057 {
  border-width:0px;
  position:absolute;
  left:546px;
  top:79px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u7057 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7057_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u7057_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7058 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:79px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u7058 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7058_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u7058_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7059 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:79px;
  width:102px;
  height:30px;
  display:flex;
  transition:none;
}
#u7059 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7059_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u7059_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7060 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:79px;
  width:96px;
  height:30px;
  display:flex;
  transition:none;
}
#u7060 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7060_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u7060_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7061 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:79px;
  width:87px;
  height:30px;
  display:flex;
  transition:none;
}
#u7061 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7061_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:30px;
}
#u7061_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7062 {
  border-width:0px;
  position:absolute;
  left:1034px;
  top:79px;
  width:95px;
  height:30px;
  display:flex;
  transition:none;
}
#u7062 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7062_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u7062_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7063 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:79px;
  width:98px;
  height:30px;
  display:flex;
  transition:none;
}
#u7063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u7063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7064 {
  border-width:0px;
  position:absolute;
  left:1228px;
  top:79px;
  width:80px;
  height:30px;
  display:flex;
  transition:none;
}
#u7064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u7064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7065 {
  border-width:0px;
  position:absolute;
  left:1308px;
  top:79px;
  width:94px;
  height:30px;
  display:flex;
  transition:none;
}
#u7065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u7065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7066_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7066 {
  border-width:0px;
  position:absolute;
  left:257px;
  top:406px;
  width:225px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7067_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u7067 {
  border-width:0px;
  position:absolute;
  left:514px;
  top:406px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
