body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-153px;
  width:569px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11489 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:151px;
  width:542px;
  height:310px;
  display:flex;
  transition:none;
}
#u11489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:310px;
}
#u11489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11490_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11490 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:206px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11490 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11490_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11491 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11492_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  color:#737171;
  text-align:left;
}
#u11492 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:206px;
  width:70px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#737171;
  text-align:left;
}
#u11492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11493 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:202px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u11493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11494_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11494 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:257px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11494 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11494_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11495 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11496_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  color:#737171;
  text-align:left;
}
#u11496 {
  border-width:0px;
  position:absolute;
  left:557px;
  top:257px;
  width:70px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#737171;
  text-align:left;
}
#u11496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11497 {
  border-width:0px;
  position:absolute;
  left:597px;
  top:253px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u11497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11499_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u11499 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:344px;
  width:424px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u11499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11500_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:23px;
  background:inherit;
  background-color:rgba(145, 141, 141, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u11500 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:345px;
  width:202px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u11500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11501 {
  border-width:0px;
  position:absolute;
  left:402px;
  top:342px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  font-size:10px;
}
#u11501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11502_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
}
#u11502 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:284px;
  width:225px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
}
#u11502 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11502_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11503_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11503 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:314px;
  width:20px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11503 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11503_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11504_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11504 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:314px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11504 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11504_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11505_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11505 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:314px;
  width:20px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11505 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11505_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11506_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11506 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:314px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11506 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11506_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11507_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11507 {
  border-width:0px;
  position:absolute;
  left:376px;
  top:314px;
  width:20px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11507 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11507_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11508_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11508 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:314px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11508 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11508_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11509_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11509 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:314px;
  width:20px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11509 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11509_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11510_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11510 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:314px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11510 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11510_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11511_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11511 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:314px;
  width:20px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11511 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11511_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11512 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:314px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11512 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11512_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#D7D7D7;
}
#u11513 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:209px;
  width:154px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#D7D7D7;
}
#u11513 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11513_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11514 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:69px;
  width:54px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11514 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11514_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11515 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:1562px;
  width:530px;
  height:334px;
  display:flex;
  transition:none;
}
#u11515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:334px;
}
#u11515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11516 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:1749px;
  width:530px;
  height:218px;
  display:flex;
  transition:none;
}
#u11516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:530px;
  height:218px;
}
#u11516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11517 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:1896px;
  width:542px;
  height:217px;
  display:flex;
  transition:none;
}
#u11517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:217px;
}
#u11517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11518 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:1911px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11518 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11518_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11519 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:50px;
  filter:drop-shadow(none);
  transition:none;
  color:#737171;
  text-align:left;
}
#u11520 {
  border-width:0px;
  position:absolute;
  left:574px;
  top:1911px;
  width:70px;
  height:22px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#737171;
  text-align:left;
}
#u11520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11521 {
  border-width:0px;
  position:absolute;
  left:614px;
  top:1907px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
}
#u11521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11522 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u11523 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:2012px;
  width:424px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u11523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:202px;
  height:23px;
  background:inherit;
  background-color:rgba(145, 141, 141, 1);
  border-radius:4px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u11524 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:2013px;
  width:202px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u11524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11525 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:2010px;
  width:30px;
  height:30px;
  display:flex;
  transition:none;
  font-size:10px;
}
#u11525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u11525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11526 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:1982px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11526 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11526_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11527 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:1982px;
  width:20px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11527 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11527_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11528 {
  border-width:0px;
  position:absolute;
  left:344px;
  top:1982px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11528_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11529 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:1982px;
  width:20px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11529 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11529_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11530 {
  border-width:0px;
  position:absolute;
  left:444px;
  top:1982px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11530 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11530_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11531 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:1982px;
  width:20px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11531 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11531_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11532 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:1982px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11532 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11532_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11533 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:1982px;
  width:20px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11533 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11533_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u11534 {
  border-width:0px;
  position:absolute;
  left:643px;
  top:1982px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u11534 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11534_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
}
#u11535 {
  border-width:0px;
  position:absolute;
  left:232px;
  top:1951px;
  width:120px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
}
#u11535 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11535_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11536 {
  border-width:0px;
  position:absolute;
  left:185px;
  top:1499px;
  width:92px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u11536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11536_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:14px;
  color:#D7D7D7;
}
#u11537 {
  border-width:0px;
  position:absolute;
  left:304px;
  top:1914px;
  width:154px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:14px;
  color:#D7D7D7;
}
#u11537 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11537_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11538 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:160px;
  width:96px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u11538 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11538_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11539_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u11539 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:400px;
  width:140px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u11539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
