body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-327px;
  width:1233px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5803 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:420px;
  width:1233px;
  height:109px;
}
#u5804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
  display:flex;
  transition:none;
}
#u5804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
}
#u5804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5805 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:90px;
  height:49px;
  display:flex;
  transition:none;
}
#u5805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:49px;
}
#u5805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5806 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:0px;
  width:94px;
  height:49px;
  display:flex;
  transition:none;
}
#u5806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:49px;
}
#u5806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5807 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:0px;
  width:104px;
  height:49px;
  display:flex;
  transition:none;
}
#u5807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:49px;
}
#u5807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5808 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:0px;
  width:101px;
  height:49px;
  display:flex;
  transition:none;
}
#u5808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u5808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5809 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:0px;
  width:104px;
  height:49px;
  display:flex;
  transition:none;
}
#u5809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:49px;
}
#u5809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5810 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:0px;
  width:107px;
  height:49px;
  display:flex;
  transition:none;
}
#u5810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:49px;
}
#u5810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5811 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:0px;
  width:104px;
  height:49px;
  display:flex;
  transition:none;
}
#u5811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:49px;
}
#u5811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5812 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:0px;
  width:103px;
  height:49px;
  display:flex;
  transition:none;
}
#u5812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:49px;
}
#u5812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5813 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:0px;
  width:103px;
  height:49px;
  display:flex;
  transition:none;
}
#u5813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:49px;
}
#u5813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5814 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:0px;
  width:104px;
  height:49px;
  display:flex;
  transition:none;
}
#u5814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:49px;
}
#u5814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5815 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:0px;
  width:104px;
  height:49px;
  display:flex;
  transition:none;
}
#u5815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:49px;
}
#u5815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5816 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u5816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u5816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5817 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:49px;
  width:90px;
  height:30px;
  display:flex;
  transition:none;
}
#u5817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5818 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:49px;
  width:94px;
  height:30px;
  display:flex;
  transition:none;
}
#u5818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u5818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5819 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:49px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5820 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:49px;
  width:101px;
  height:30px;
  display:flex;
  transition:none;
}
#u5820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u5820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5821 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:49px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5822 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:49px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u5822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u5822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5823 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:49px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5824 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:49px;
  width:103px;
  height:30px;
  display:flex;
  transition:none;
}
#u5824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u5824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5825 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:49px;
  width:103px;
  height:30px;
  display:flex;
  transition:none;
}
#u5825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u5825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5826 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:49px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5827 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:49px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u5828 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5828_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u5828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5829 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:79px;
  width:90px;
  height:30px;
  display:flex;
  transition:none;
}
#u5829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5830 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:79px;
  width:94px;
  height:30px;
  display:flex;
  transition:none;
}
#u5830 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5830_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u5830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5831 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:79px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5831 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5831_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5832 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:79px;
  width:101px;
  height:30px;
  display:flex;
  transition:none;
}
#u5832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u5832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5833 {
  border-width:0px;
  position:absolute;
  left:504px;
  top:79px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5833 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5833_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5833_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5834 {
  border-width:0px;
  position:absolute;
  left:608px;
  top:79px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u5834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5834_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u5834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5835 {
  border-width:0px;
  position:absolute;
  left:715px;
  top:79px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5835_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5836 {
  border-width:0px;
  position:absolute;
  left:819px;
  top:79px;
  width:103px;
  height:30px;
  display:flex;
  transition:none;
}
#u5836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5836_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u5836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5837 {
  border-width:0px;
  position:absolute;
  left:922px;
  top:79px;
  width:103px;
  height:30px;
  display:flex;
  transition:none;
}
#u5837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
}
#u5837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5838 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:79px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5838_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5839 {
  border-width:0px;
  position:absolute;
  left:1129px;
  top:79px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5840 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:375px;
  width:225px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5840 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5840_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5841_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u5841 {
  border-width:0px;
  position:absolute;
  left:821px;
  top:375px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5842_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5842 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:714px;
  width:64px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5842 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5842_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5843_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5843_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5843 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:375px;
  width:128px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5843 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5843_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5843.disabled {
}
.u5843_input_option {
}
#u5844 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:898px;
  width:600px;
  height:94px;
}
#u5845 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  display:flex;
  transition:none;
}
#u5845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u5845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5846 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u5846 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5846_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5846_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5847 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:81px;
  height:30px;
  display:flex;
  transition:none;
}
#u5847 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5847_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u5847_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5848 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:0px;
  width:92px;
  height:30px;
  display:flex;
  transition:none;
}
#u5848 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5848_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u5848_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5849 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:0px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
}
#u5849 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5849_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u5849_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5850 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u5850 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5850_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5850_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5851 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:130px;
  height:34px;
  display:flex;
  transition:none;
}
#u5851 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5851_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u5851_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5852 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u5852 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5852_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u5852_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5853 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:30px;
  width:81px;
  height:34px;
  display:flex;
  transition:none;
}
#u5853 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5853_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:34px;
}
#u5853_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5854 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:30px;
  width:92px;
  height:34px;
  display:flex;
  transition:none;
}
#u5854 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5854_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u5854_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5855 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:30px;
  width:97px;
  height:34px;
  display:flex;
  transition:none;
  color:#1130C6;
}
#u5855 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5855_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
}
#u5855_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5856 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
  color:#1130C6;
}
#u5856 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5856_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u5856_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5857 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:130px;
  height:30px;
  display:flex;
  transition:none;
}
#u5857 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5857_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u5857_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5858 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u5858 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5858_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5858_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5859 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:64px;
  width:81px;
  height:30px;
  display:flex;
  transition:none;
}
#u5859 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5859_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:30px;
}
#u5859_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5860 {
  border-width:0px;
  position:absolute;
  left:311px;
  top:64px;
  width:92px;
  height:30px;
  display:flex;
  transition:none;
}
#u5860 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5860_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u5860_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5861 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:64px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
}
#u5861 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5861_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u5861_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5862 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u5862 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5862_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5862_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5863_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5863_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5863_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5863 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:839px;
  width:105px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5863 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5863_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5863.disabled {
}
.u5863_input_option {
}
#u5864_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5864 {
  border-width:0px;
  position:absolute;
  left:827px;
  top:823px;
  width:1px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5864 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5864_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u5865_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5865 {
  border-width:0px;
  position:absolute;
  left:603px;
  top:840px;
  width:225px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5865 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5865_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5866_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u5866 {
  border-width:0px;
  position:absolute;
  left:1470px;
  top:375px;
  width:90px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5866 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5866_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5867_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u5867 {
  border-width:0px;
  position:absolute;
  left:949px;
  top:840px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5867 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5867_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5868_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u5868 {
  border-width:0px;
  position:absolute;
  left:734px;
  top:375px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5868 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5868_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5869_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u5869 {
  border-width:0px;
  position:absolute;
  left:853px;
  top:840px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5869 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5869_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5870_input {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5870_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5870_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5870 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:840px;
  width:128px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5870 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5870_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5870.disabled {
}
.u5870_input_option {
}
