body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-94px;
  width:2119px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4482_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2119px;
  height:945px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4482 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:347px;
  width:2119px;
  height:945px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4483_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:945px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4483 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:347px;
  width:182px;
  height:945px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4484 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:583px;
  width:1232px;
  height:79px;
}
#u4485 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
  display:flex;
  transition:none;
}
#u4485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:49px;
}
#u4485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4486 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:0px;
  width:85px;
  height:49px;
  display:flex;
  transition:none;
}
#u4486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:49px;
}
#u4486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4487 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:0px;
  width:96px;
  height:49px;
  display:flex;
  transition:none;
}
#u4487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:49px;
}
#u4487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4488 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:0px;
  width:99px;
  height:49px;
  display:flex;
  transition:none;
}
#u4488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:49px;
}
#u4488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4489 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:0px;
  width:102px;
  height:49px;
  display:flex;
  transition:none;
}
#u4489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:49px;
}
#u4489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4490 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:0px;
  width:100px;
  height:49px;
  display:flex;
  transition:none;
}
#u4490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:49px;
}
#u4490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4491 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:0px;
  width:96px;
  height:49px;
  display:flex;
  transition:none;
}
#u4491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:49px;
}
#u4491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4492 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:0px;
  width:98px;
  height:49px;
  display:flex;
  transition:none;
}
#u4492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u4492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4493 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:0px;
  width:97px;
  height:49px;
  display:flex;
  transition:none;
}
#u4493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:49px;
}
#u4493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4494 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:0px;
  width:95px;
  height:49px;
  display:flex;
  transition:none;
}
#u4494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:49px;
}
#u4494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4495 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:0px;
  width:95px;
  height:49px;
  display:flex;
  transition:none;
}
#u4495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:49px;
}
#u4495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4496 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:0px;
  width:95px;
  height:49px;
  display:flex;
  transition:none;
}
#u4496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:49px;
}
#u4496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4497 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:0px;
  width:96px;
  height:49px;
  display:flex;
  transition:none;
}
#u4497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:49px;
}
#u4497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4498 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:78px;
  height:30px;
  display:flex;
  transition:none;
}
#u4498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:30px;
}
#u4498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4499 {
  border-width:0px;
  position:absolute;
  left:78px;
  top:49px;
  width:85px;
  height:30px;
  display:flex;
  transition:none;
}
#u4499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
}
#u4499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4500 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:49px;
  width:96px;
  height:30px;
  display:flex;
  transition:none;
}
#u4500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u4500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4501 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:49px;
  width:99px;
  height:30px;
  display:flex;
  transition:none;
}
#u4501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:30px;
}
#u4501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4502 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:49px;
  width:102px;
  height:30px;
  display:flex;
  transition:none;
}
#u4502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u4502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4503 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:49px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u4503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u4503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4504 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:49px;
  width:96px;
  height:30px;
  display:flex;
  transition:none;
}
#u4504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u4504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4505 {
  border-width:0px;
  position:absolute;
  left:657px;
  top:49px;
  width:98px;
  height:30px;
  display:flex;
  transition:none;
}
#u4505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u4505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4506 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:49px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
}
#u4506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u4506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4507 {
  border-width:0px;
  position:absolute;
  left:852px;
  top:49px;
  width:95px;
  height:30px;
  display:flex;
  transition:none;
}
#u4507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u4507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4508 {
  border-width:0px;
  position:absolute;
  left:947px;
  top:49px;
  width:95px;
  height:30px;
  display:flex;
  transition:none;
}
#u4508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u4508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4509 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:49px;
  width:95px;
  height:30px;
  display:flex;
  transition:none;
}
#u4509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:30px;
}
#u4509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4510 {
  border-width:0px;
  position:absolute;
  left:1136px;
  top:49px;
  width:96px;
  height:30px;
  display:flex;
  transition:none;
  color:#1B38C3;
}
#u4510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:30px;
}
#u4510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4512_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4512 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:1220px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4513_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4513 {
  border-width:0px;
  position:absolute;
  left:789px;
  top:1220px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4514 {
  border-width:0px;
  position:absolute;
  left:831px;
  top:1220px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4515 {
  border-width:0px;
  position:absolute;
  left:870px;
  top:1229px;
  width:12px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4515 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4515_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4516_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u4516 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:1215px;
  width:92px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4517_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u4517 {
  border-width:0px;
  position:absolute;
  left:1076px;
  top:1215px;
  width:92px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4518 {
  border-width:0px;
  position:absolute;
  left:701px;
  top:1224px;
  width:17px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4518 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4518_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4519 {
  border-width:0px;
  position:absolute;
  left:1028px;
  top:1224px;
  width:17px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4519 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4519_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4520 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:1220px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4521 {
  border-width:0px;
  position:absolute;
  left:946px;
  top:1220px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4522 {
  border-width:0px;
  position:absolute;
  left:988px;
  top:1220px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  filter:drop-shadow(none);
  transition:none;
}
#u4523 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:386px;
  width:184px;
  height:103px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4524 {
  border-width:0px;
  position:absolute;
  left:347px;
  top:531px;
  width:90px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u4524 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4524_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:103px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:20px;
  filter:drop-shadow(none);
  transition:none;
}
#u4525 {
  border-width:0px;
  position:absolute;
  left:618px;
  top:386px;
  width:184px;
  height:103px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4526 {
  border-width:0px;
  position:absolute;
  left:768px;
  top:391px;
  width:22px;
  height:22px;
  display:flex;
  transition:none;
}
#u4526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
}
#u4526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4527 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:468px;
  width:56px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4527 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4527_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4528 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:544px;
  width:70px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4528 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4528_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4529 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:630px;
  width:70px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4529 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4529_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4530 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:873px;
  width:56px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4530 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4530_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4531 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:713px;
  width:84px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4531 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4531_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4532 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:793px;
  width:56px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4532 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4532_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4533 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:955px;
  width:70px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4533 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4533_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4534 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:393px;
  width:56px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4534 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4534_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  text-align:center;
}
#u4535 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1102px;
  width:52px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  text-align:center;
}
#u4535 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4535_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u4536 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:1027px;
  width:56px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u4536 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4536_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
