body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-52px;
  width:2003px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10521 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:65px;
  width:128px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10521 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10521_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10522 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:131px;
  width:145px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10522 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10523 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:331px;
  width:600px;
  height:120px;
}
#u10524 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10525 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10526 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10527 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10528 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10529 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10530 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10531 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10532 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10533 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10534 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10535 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10536 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10537 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10538 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10539 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10540 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10541 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10542 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10543 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10544 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10545 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10546 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10547 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u10547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10548_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10548 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:179px;
  width:210px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10548 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10548_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10549_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10549 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:238px;
  width:68px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10549 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10549_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10550_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10550 {
  border-width:0px;
  position:absolute;
  left:163px;
  top:295px;
  width:68px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10550 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10550_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10551_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10551 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:484px;
  width:68px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10551 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10551_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10552_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:568px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10552 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:527px;
  width:568px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10552 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10553 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:605px;
  width:568px;
  height:407px;
}
#u10554 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
  display:flex;
  transition:none;
}
#u10554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
}
#u10554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10555 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:0px;
  width:379px;
  height:34px;
  display:flex;
  transition:none;
}
#u10555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:34px;
}
#u10555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10556 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:0px;
  width:68px;
  height:34px;
  display:flex;
  transition:none;
}
#u10556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u10556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10557 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:121px;
  height:19px;
  display:flex;
  transition:none;
}
#u10557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:19px;
}
#u10557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10558 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:34px;
  width:379px;
  height:19px;
  display:flex;
  transition:none;
}
#u10558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:19px;
}
#u10558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10559 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:34px;
  width:68px;
  height:19px;
  display:flex;
  transition:none;
}
#u10559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:19px;
}
#u10559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10560 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:53px;
  width:121px;
  height:30px;
  display:flex;
  transition:none;
}
#u10560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u10560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10561 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:53px;
  width:379px;
  height:30px;
  display:flex;
  transition:none;
}
#u10561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:30px;
}
#u10561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10562 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:53px;
  width:68px;
  height:30px;
  display:flex;
  transition:none;
}
#u10562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u10562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10563 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:83px;
  width:121px;
  height:30px;
  display:flex;
  transition:none;
}
#u10563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u10563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10564 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:83px;
  width:379px;
  height:30px;
  display:flex;
  transition:none;
}
#u10564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:30px;
}
#u10564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10565 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:83px;
  width:68px;
  height:30px;
  display:flex;
  transition:none;
}
#u10565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u10565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10566 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:113px;
  width:121px;
  height:30px;
  display:flex;
  transition:none;
}
#u10566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u10566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10567 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:113px;
  width:379px;
  height:30px;
  display:flex;
  transition:none;
}
#u10567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:30px;
}
#u10567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10568 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:113px;
  width:68px;
  height:30px;
  display:flex;
  transition:none;
}
#u10568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u10568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10569 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:143px;
  width:121px;
  height:30px;
  display:flex;
  transition:none;
}
#u10569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u10569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10570 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:143px;
  width:379px;
  height:30px;
  display:flex;
  transition:none;
}
#u10570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:30px;
}
#u10570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10571 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:143px;
  width:68px;
  height:30px;
  display:flex;
  transition:none;
}
#u10571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10571_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u10571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10572 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:173px;
  width:121px;
  height:34px;
  display:flex;
  transition:none;
}
#u10572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10572_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
}
#u10572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10573 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:173px;
  width:379px;
  height:34px;
  display:flex;
  transition:none;
}
#u10573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10573_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:34px;
}
#u10573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10574 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:173px;
  width:68px;
  height:34px;
  display:flex;
  transition:none;
}
#u10574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10574_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u10574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10575 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:207px;
  width:121px;
  height:34px;
  display:flex;
  transition:none;
}
#u10575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10575_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
}
#u10575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10576 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:207px;
  width:379px;
  height:34px;
  display:flex;
  transition:none;
}
#u10576 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10576_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:34px;
}
#u10576_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10577 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:207px;
  width:68px;
  height:34px;
  display:flex;
  transition:none;
}
#u10577 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10577_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u10577_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10578 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:241px;
  width:121px;
  height:34px;
  display:flex;
  transition:none;
}
#u10578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10578_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
}
#u10578_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10579 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:241px;
  width:379px;
  height:34px;
  display:flex;
  transition:none;
}
#u10579 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10579_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:34px;
}
#u10579_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10580 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:241px;
  width:68px;
  height:34px;
  display:flex;
  transition:none;
}
#u10580 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10580_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u10580_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10581 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:275px;
  width:121px;
  height:34px;
  display:flex;
  transition:none;
}
#u10581 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10581_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
}
#u10581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10582 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:275px;
  width:379px;
  height:34px;
  display:flex;
  transition:none;
}
#u10582 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:34px;
}
#u10582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10583 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:275px;
  width:68px;
  height:34px;
  display:flex;
  transition:none;
}
#u10583 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10583_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u10583_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10584 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:309px;
  width:121px;
  height:34px;
  display:flex;
  transition:none;
}
#u10584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10584_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
}
#u10584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10585 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:309px;
  width:379px;
  height:34px;
  display:flex;
  transition:none;
}
#u10585 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10585_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:34px;
}
#u10585_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10586 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:309px;
  width:68px;
  height:34px;
  display:flex;
  transition:none;
}
#u10586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u10586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10587 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:343px;
  width:121px;
  height:30px;
  display:flex;
  transition:none;
}
#u10587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:30px;
}
#u10587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10588 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:343px;
  width:379px;
  height:30px;
  display:flex;
  transition:none;
}
#u10588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:30px;
}
#u10588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10589 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:343px;
  width:68px;
  height:30px;
  display:flex;
  transition:none;
}
#u10589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:30px;
}
#u10589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10590 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:373px;
  width:121px;
  height:34px;
  display:flex;
  transition:none;
}
#u10590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:34px;
}
#u10590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10591 {
  border-width:0px;
  position:absolute;
  left:121px;
  top:373px;
  width:379px;
  height:34px;
  display:flex;
  transition:none;
}
#u10591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:379px;
  height:34px;
}
#u10591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10592 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:373px;
  width:68px;
  height:34px;
  display:flex;
  transition:none;
}
#u10592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:34px;
}
#u10592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10593 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:1888px;
  width:560px;
  height:440px;
  display:flex;
  transition:none;
}
#u10593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:440px;
}
#u10593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10594 {
  border-width:0px;
  position:absolute;
  left:1468px;
  top:2328px;
  width:560px;
  height:429px;
  display:flex;
  transition:none;
}
#u10594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:429px;
}
#u10594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10595 {
  border-width:0px;
  position:absolute;
  left:1448px;
  top:2757px;
  width:600px;
  height:464px;
  display:flex;
  transition:none;
}
#u10595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:464px;
}
#u10595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10596 {
  border-width:0px;
  position:absolute;
  left:1441px;
  top:3221px;
  width:614px;
  height:454px;
  display:flex;
  transition:none;
}
#u10596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:614px;
  height:454px;
}
#u10596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10597 {
  border-width:0px;
  position:absolute;
  left:1441px;
  top:3675px;
  width:607px;
  height:487px;
  display:flex;
  transition:none;
}
#u10597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:607px;
  height:487px;
}
#u10597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10598 {
  border-width:0px;
  position:absolute;
  left:920px;
  top:6007px;
  width:948px;
  height:311px;
  display:flex;
  transition:none;
}
#u10598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:311px;
}
#u10598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10599_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10599 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:1055px;
  width:96px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10599 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10599_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10600_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10600 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:1110px;
  width:28px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10600 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10600_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10601_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:640px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10601 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:1151px;
  width:640px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10601 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10602_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10602 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:1196px;
  width:42px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u10602 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10602_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10603 {
  border-width:0px;
  position:absolute;
  left:201px;
  top:1111px;
  width:136px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10603 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:411px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10604 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:1240px;
  width:411px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10604 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:743px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10605 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:572px;
  width:743px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10605 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10605_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10606 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:1432px;
  width:533px;
  height:896px;
  display:flex;
  transition:none;
}
#u10606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:896px;
}
#u10606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
