body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-158px;
  width:1245px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7420 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:425px;
  width:1245px;
  height:557px;
  display:flex;
  transition:none;
}
#u7420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1245px;
  height:557px;
}
#u7420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:405px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7421 {
  border-width:0px;
  position:absolute;
  left:158px;
  top:151px;
  width:405px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7421 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7421_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7422 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:198px;
  width:195px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7422 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7422_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7423 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:232px;
  width:68px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7423 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7423_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7424 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:266px;
  width:102px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7424 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7424_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7425 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:312px;
  width:77px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7425 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7425_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
