body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-88px;
  width:449px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3000 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:103px;
  width:449px;
  height:103px;
  display:flex;
  transition:none;
}
#u3000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:103px;
}
#u3000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3001 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:240px;
  width:215px;
  height:94px;
}
#u3002 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
  display:flex;
  transition:none;
}
#u3002 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u3002_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3003 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u3003 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3003_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u3003_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3004 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u3004 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3004_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u3004_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3005 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:34px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u3005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3006 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u3006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u3006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3007 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u3007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
