body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-88px;
  width:449px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2725 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:103px;
  width:449px;
  height:103px;
  display:flex;
  transition:none;
}
#u2725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:103px;
}
#u2725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2726 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:240px;
  width:215px;
  height:94px;
}
#u2727 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
  display:flex;
  transition:none;
}
#u2727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u2727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2728 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u2728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u2728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2729 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u2729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u2729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2730 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:34px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u2730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2731 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u2731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u2731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2732 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u2732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u2732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
