body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-88px;
  width:449px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3100 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:103px;
  width:449px;
  height:103px;
  display:flex;
  transition:none;
}
#u3100 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3100_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:449px;
  height:103px;
}
#u3100_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3101 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:240px;
  width:215px;
  height:94px;
}
#u3102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
  display:flex;
  transition:none;
}
#u3102 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3102_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:34px;
}
#u3102_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3103 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u3103 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3103_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u3103_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:34px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u3104 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3104_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u3104_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3105 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:34px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u3105 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3105_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3105_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u3106 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3106_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u3106_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3107 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u3107 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3107_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u3107_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
