body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-284px;
  width:683px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2590 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:422px;
  width:681px;
  height:79px;
}
#u2591 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:49px;
  display:flex;
  transition:none;
}
#u2591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:49px;
}
#u2591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2592 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:0px;
  width:94px;
  height:49px;
  display:flex;
  transition:none;
}
#u2592 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2592_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:49px;
}
#u2592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2593 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:0px;
  width:98px;
  height:49px;
  display:flex;
  transition:none;
}
#u2593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:49px;
}
#u2593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2594 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:0px;
  width:116px;
  height:49px;
  display:flex;
  transition:none;
}
#u2594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:49px;
}
#u2594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2595 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:0px;
  width:102px;
  height:49px;
  display:flex;
  transition:none;
}
#u2595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:49px;
}
#u2595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2596 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:0px;
  width:162px;
  height:49px;
  display:flex;
  transition:none;
}
#u2596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:49px;
}
#u2596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2597 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:109px;
  height:30px;
  display:flex;
  transition:none;
}
#u2597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
}
#u2597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2598 {
  border-width:0px;
  position:absolute;
  left:109px;
  top:49px;
  width:94px;
  height:30px;
  display:flex;
  transition:none;
}
#u2598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u2598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2599 {
  border-width:0px;
  position:absolute;
  left:202px;
  top:49px;
  width:98px;
  height:30px;
  display:flex;
  transition:none;
}
#u2599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
}
#u2599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2600 {
  border-width:0px;
  position:absolute;
  left:301px;
  top:49px;
  width:116px;
  height:30px;
  display:flex;
  transition:none;
}
#u2600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u2600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2601 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:49px;
  width:102px;
  height:30px;
  display:flex;
  transition:none;
}
#u2601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:30px;
}
#u2601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2602 {
  border-width:0px;
  position:absolute;
  left:518px;
  top:49px;
  width:162px;
  height:30px;
  display:flex;
  transition:none;
}
#u2602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:30px;
}
#u2602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2603_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#908C8C;
}
#u2603 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:367px;
  width:98px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#908C8C;
}
#u2603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2604_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2604 {
  border-width:0px;
  position:absolute;
  left:898px;
  top:367px;
  width:69px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2605_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#908C8C;
}
#u2605 {
  border-width:0px;
  position:absolute;
  left:656px;
  top:367px;
  width:98px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#908C8C;
}
#u2605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2606_input {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2606_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u2606_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2606 {
  border-width:0px;
  position:absolute;
  left:788px;
  top:367px;
  width:74px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2606 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2606_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:30px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2606.disabled {
}
.u2606_input_option {
}
#u2607_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2607 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:367px;
  width:225px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
