body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-112px;
  width:775px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10896 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:5229px;
  width:378px;
  height:674px;
  display:flex;
  transition:none;
}
#u10896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:674px;
}
#u10896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10897 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:4931px;
  width:378px;
  height:587px;
  display:flex;
  transition:none;
}
#u10897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:587px;
}
#u10897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10898 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:4440px;
  width:378px;
  height:587px;
  display:flex;
  transition:none;
}
#u10898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:587px;
}
#u10898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10899 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:3958px;
  width:378px;
  height:580px;
  display:flex;
  transition:none;
}
#u10899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:580px;
}
#u10899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10900 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:3463px;
  width:378px;
  height:589px;
  display:flex;
  transition:none;
}
#u10900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:589px;
}
#u10900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10901_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10901 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:75px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10901 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10901_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10902 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:129px;
  width:542px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10902 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10903_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10903 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:185px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10903 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10903_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10904 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:224px;
  width:738px;
  height:113px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
