body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-112px;
  width:775px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10921 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:5229px;
  width:378px;
  height:674px;
  display:flex;
  transition:none;
}
#u10921 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10921_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:674px;
}
#u10921_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10922 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:4931px;
  width:378px;
  height:587px;
  display:flex;
  transition:none;
}
#u10922 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10922_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:587px;
}
#u10922_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10923 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:4440px;
  width:378px;
  height:587px;
  display:flex;
  transition:none;
}
#u10923 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10923_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:587px;
}
#u10923_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10924 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:3958px;
  width:378px;
  height:580px;
  display:flex;
  transition:none;
}
#u10924 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10924_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:580px;
}
#u10924_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10925 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:3463px;
  width:378px;
  height:589px;
  display:flex;
  transition:none;
}
#u10925 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10925_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:378px;
  height:589px;
}
#u10925_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10926 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:75px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10927 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:129px;
  width:542px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10927 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10927_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10928 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:185px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u10928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10928_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:738px;
  height:113px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u10929 {
  border-width:0px;
  position:absolute;
  left:149px;
  top:224px;
  width:738px;
  height:113px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u10929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10929_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
