body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-102px;
  width:620px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:363px;
  width:620px;
  height:124px;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
  display:flex;
  transition:none;
}
#u2894 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2894_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2894_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:0px;
  width:75px;
  height:30px;
  display:flex;
  transition:none;
}
#u2895 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2895_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2895_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:0px;
  width:114px;
  height:30px;
  display:flex;
  transition:none;
}
#u2896 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2896_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u2896_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2897 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:0px;
  width:124px;
  height:30px;
  display:flex;
  transition:none;
}
#u2897 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2897_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u2897_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2898 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:0px;
  width:167px;
  height:30px;
  display:flex;
  transition:none;
}
#u2898 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2898_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u2898_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:140px;
  height:34px;
  display:flex;
  transition:none;
}
#u2899 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2899_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:34px;
}
#u2899_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:30px;
  width:75px;
  height:34px;
  display:flex;
  transition:none;
}
#u2900 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2900_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:34px;
}
#u2900_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2901 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:30px;
  width:114px;
  height:34px;
  display:flex;
  transition:none;
}
#u2901 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2901_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:34px;
}
#u2901_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2902 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:30px;
  width:124px;
  height:34px;
  display:flex;
  transition:none;
}
#u2902 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2902_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:34px;
}
#u2902_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2903 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:30px;
  width:167px;
  height:34px;
  display:flex;
  transition:none;
}
#u2903 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2903_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:34px;
}
#u2903_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:140px;
  height:30px;
  display:flex;
  transition:none;
}
#u2904 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2904_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2904_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:64px;
  width:75px;
  height:30px;
  display:flex;
  transition:none;
}
#u2905 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2905_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2905_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:64px;
  width:114px;
  height:30px;
  display:flex;
  transition:none;
}
#u2906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2906_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u2906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:64px;
  width:124px;
  height:30px;
  display:flex;
  transition:none;
}
#u2907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u2907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:64px;
  width:167px;
  height:30px;
  display:flex;
  transition:none;
}
#u2908 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2908_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u2908_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:94px;
  width:140px;
  height:30px;
  display:flex;
  transition:none;
}
#u2909 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2909_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u2909_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:140px;
  top:94px;
  width:75px;
  height:30px;
  display:flex;
  transition:none;
}
#u2910 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2910_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:30px;
}
#u2910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:94px;
  width:114px;
  height:30px;
  display:flex;
  transition:none;
}
#u2911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:114px;
  height:30px;
}
#u2911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:94px;
  width:124px;
  height:30px;
  display:flex;
  transition:none;
}
#u2912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:30px;
}
#u2912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:94px;
  width:167px;
  height:30px;
  display:flex;
  transition:none;
}
#u2913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:30px;
}
#u2913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2914 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:265px;
  width:225px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2915 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:265px;
  width:91px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2915 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:30px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u2916 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:313px;
  width:91px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u2917 {
  border-width:0px;
  position:absolute;
  left:102px;
  top:129px;
  width:336px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u2917 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2917_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
