body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-96px;
  width:516px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u8814 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8815_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:87px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u8815 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:947px;
  width:35px;
  height:87px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u8815 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8816 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:66px;
  width:516px;
  height:68px;
  display:flex;
  transition:none;
}
#u8816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:516px;
  height:68px;
}
#u8816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8817 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:134px;
  width:36px;
  height:878px;
  display:flex;
  transition:none;
}
#u8817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:878px;
}
#u8817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8818 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:947px;
  width:444px;
  height:64px;
  display:flex;
  transition:none;
}
#u8818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:64px;
}
#u8818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8819 {
  border-width:0px;
  position:absolute;
  left:576px;
  top:134px;
  width:36px;
  height:878px;
  display:flex;
  transition:none;
}
#u8819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:878px;
}
#u8819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8820_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:238px;
  height:7px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border-radius:100px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u8820 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:967px;
  width:238px;
  height:7px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'微软雅黑 Bold', '微软雅黑', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u8820 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8821_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8821 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:134px;
  width:125px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8821 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8821_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8822 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:130px;
  width:25px;
  height:25px;
  display:flex;
  transition:none;
}
#u8822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u8822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8823_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:822px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border-radius:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8823 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:162px;
  width:444px;
  height:822px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8824 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:178px;
  width:87px;
  height:82px;
  display:flex;
  transition:none;
}
#u8824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:82px;
}
#u8824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8825_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8825 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:186px;
  width:77px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u8825 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8825_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8826_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8826 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:234px;
  width:65px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8826 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8826_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u8827_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:444px;
  height:115px;
  background:inherit;
  background-color:rgba(187, 186, 186, 1);
  border-radius:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8827 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:869px;
  width:444px;
  height:115px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8828_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8828 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:897px;
  width:125px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8828 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8828_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8829 {
  border-width:0px;
  position:absolute;
  left:132px;
  top:931px;
  width:414px;
  height:1px;
  display:flex;
  -webkit-transform:rotate(0.07330727998551106deg);
  -moz-transform:rotate(0.07330727998551106deg);
  -ms-transform:rotate(0.07330727998551106deg);
  transform:rotate(0.07330727998551106deg);
  transition:none;
}
#u8829 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u8829_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:2px;
}
#u8829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u8830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8830 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:950px;
  width:107px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8830_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8831 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:946px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u8832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u8832 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:897px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u8832 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u8832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
