body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-327px;
  width:416px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6062 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:420px;
  width:322px;
  height:109px;
}
#u6063 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
  display:flex;
  transition:none;
}
#u6063 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6063_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
}
#u6063_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6064 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:90px;
  height:49px;
  display:flex;
  transition:none;
}
#u6064 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6064_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:49px;
}
#u6064_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6065 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:0px;
  width:117px;
  height:49px;
  display:flex;
  transition:none;
}
#u6065 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6065_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:49px;
}
#u6065_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6066 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u6066 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6066_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u6066_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6067 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:49px;
  width:90px;
  height:30px;
  display:flex;
  transition:none;
}
#u6067 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6067_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u6067_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6068 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:49px;
  width:117px;
  height:30px;
  display:flex;
  transition:none;
}
#u6068 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6068_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6068_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6069 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u6069 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6069_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u6069_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6070 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:79px;
  width:90px;
  height:30px;
  display:flex;
  transition:none;
}
#u6070 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6070_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u6070_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6071 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:79px;
  width:117px;
  height:30px;
  display:flex;
  transition:none;
}
#u6071 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6071_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u6071_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6072_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6072 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:375px;
  width:225px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6072 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6072_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6073_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u6073 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:375px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6073 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6073_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6074_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u6074 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:375px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6074 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6074_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
