body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-164px;
  width:1469px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7447 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:308px;
  width:1469px;
  height:734px;
  display:flex;
  transition:none;
}
#u7447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7447_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1469px;
  height:734px;
}
#u7447_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:540px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7448 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:205px;
  width:540px;
  height:45px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7448 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7448_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7449_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7449 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:164px;
  width:88px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7449 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7449_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7450 {
  border-width:0px;
  position:absolute;
  left:1093px;
  top:328px;
  width:1px;
  height:116px;
  display:flex;
  -webkit-transform:rotate(0.16753104160125895deg);
  -moz-transform:rotate(0.16753104160125895deg);
  -ms-transform:rotate(0.16753104160125895deg);
  transform:rotate(0.16753104160125895deg);
  transition:none;
  color:#D9001B;
}
#u7450 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7450_img {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:0px;
  width:33px;
  height:132px;
}
#u7450p000 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:56px;
  width:122px;
  height:4px;
  -webkit-transform:rotate(89.83246895839874deg);
  -moz-transform:rotate(89.83246895839874deg);
  -ms-transform:rotate(89.83246895839874deg);
  transform:rotate(89.83246895839874deg);
}
#u7450p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:4px;
}
#u7450p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-2px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-0.16753104160125895deg);
  -moz-transform:rotate(-0.16753104160125895deg);
  -ms-transform:rotate(-0.16753104160125895deg);
  transform:rotate(-0.16753104160125895deg);
}
#u7450p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-0px;
  width:4px;
  height:4px;
}
#u7450p002 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:92px;
  width:36px;
  height:36px;
  -webkit-transform:rotate(-90.16753104160126deg);
  -moz-transform:rotate(-90.16753104160126deg);
  -ms-transform:rotate(-90.16753104160126deg);
  transform:rotate(-90.16753104160126deg);
}
#u7450p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7451_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7451 {
  border-width:0px;
  position:absolute;
  left:1044px;
  top:300px;
  width:99px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7451 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7451_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7452 {
  border-width:0px;
  position:absolute;
  left:1543px;
  top:300px;
  width:73px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7452 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7452_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7453 {
  border-width:0px;
  position:absolute;
  left:1579px;
  top:323px;
  width:1px;
  height:116px;
  display:flex;
  -webkit-transform:rotate(0.16753104160125895deg);
  -moz-transform:rotate(0.16753104160125895deg);
  -ms-transform:rotate(0.16753104160125895deg);
  transform:rotate(0.16753104160125895deg);
  transition:none;
  color:#D9001B;
}
#u7453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7453_img {
  border-width:0px;
  position:absolute;
  left:-16px;
  top:0px;
  width:33px;
  height:132px;
}
#u7453p000 {
  border-width:0px;
  position:absolute;
  left:-61px;
  top:55px;
  width:122px;
  height:6px;
  -webkit-transform:rotate(89.83246895839874deg);
  -moz-transform:rotate(89.83246895839874deg);
  -ms-transform:rotate(89.83246895839874deg);
  transform:rotate(89.83246895839874deg);
}
#u7453p000_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:6px;
}
#u7453p001 {
  border-width:0px;
  position:absolute;
  left:-1px;
  top:-1px;
  width:4px;
  height:4px;
  -webkit-transform:rotate(-0.16753104160125895deg);
  -moz-transform:rotate(-0.16753104160125895deg);
  -ms-transform:rotate(-0.16753104160125895deg);
  transform:rotate(-0.16753104160125895deg);
}
#u7453p001_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:4px;
  height:4px;
}
#u7453p002 {
  border-width:0px;
  position:absolute;
  left:-17px;
  top:91px;
  width:36px;
  height:36px;
  -webkit-transform:rotate(-90.16753104160126deg);
  -moz-transform:rotate(-90.16753104160126deg);
  -ms-transform:rotate(-90.16753104160126deg);
  transform:rotate(-90.16753104160126deg);
}
#u7453p002_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:36px;
}
#u7453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7454 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:1115px;
  width:214px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"Arial Negreta", "Arial Normal", "Arial", sans-serif;
  font-weight:700;
  font-style:normal;
}
#u7454 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7454_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u7455 {
  border-width:0px;
  position:absolute;
  left:164px;
  top:78px;
  width:416px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u7455 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7455_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
