body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-327px;
  width:832px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5632 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:420px;
  width:832px;
  height:109px;
}
#u5633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
  display:flex;
  transition:none;
}
#u5633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
}
#u5633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5634 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:90px;
  height:49px;
  display:flex;
  transition:none;
}
#u5634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:49px;
}
#u5634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5635 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:0px;
  width:94px;
  height:49px;
  display:flex;
  transition:none;
}
#u5635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:49px;
}
#u5635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5636 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:0px;
  width:117px;
  height:49px;
  display:flex;
  transition:none;
}
#u5636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:49px;
}
#u5636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5637 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:0px;
  width:101px;
  height:49px;
  display:flex;
  transition:none;
}
#u5637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u5637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5638 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:0px;
  width:107px;
  height:49px;
  display:flex;
  transition:none;
}
#u5638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:49px;
}
#u5638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5639 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:0px;
  width:104px;
  height:49px;
  display:flex;
  transition:none;
}
#u5639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:49px;
}
#u5639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5640 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:0px;
  width:104px;
  height:49px;
  display:flex;
  transition:none;
}
#u5640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:49px;
}
#u5640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u5641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u5641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5642 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:49px;
  width:90px;
  height:30px;
  display:flex;
  transition:none;
}
#u5642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5643 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:49px;
  width:94px;
  height:30px;
  display:flex;
  transition:none;
}
#u5643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u5643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5644 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:49px;
  width:117px;
  height:30px;
  display:flex;
  transition:none;
}
#u5644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u5644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5645 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:49px;
  width:101px;
  height:30px;
  display:flex;
  transition:none;
}
#u5645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u5645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5646 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:49px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u5646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u5646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5647 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:49px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5648 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:49px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5649 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u5649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u5649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5650 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:79px;
  width:90px;
  height:30px;
  display:flex;
  transition:none;
}
#u5650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5651 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:79px;
  width:94px;
  height:30px;
  display:flex;
  transition:none;
}
#u5651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u5651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5652 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:79px;
  width:117px;
  height:30px;
  display:flex;
  transition:none;
}
#u5652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u5652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5653 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:79px;
  width:101px;
  height:30px;
  display:flex;
  transition:none;
}
#u5653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u5653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5654 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:79px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u5654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u5654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5655 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:79px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5656 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:79px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5657_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5657 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:375px;
  width:225px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u5658 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:375px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5659_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5659 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:714px;
  width:64px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u5659 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5659_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5660 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:725px;
  width:56px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5660 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5660_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u5661 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:898px;
  width:519px;
  height:94px;
}
#u5662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  display:flex;
  transition:none;
}
#u5662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u5662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5663 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u5663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5664 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u5664 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5664_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5665 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:92px;
  height:30px;
  display:flex;
  transition:none;
}
#u5665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u5665_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5666 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:0px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
}
#u5666 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u5666_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:130px;
  height:34px;
  display:flex;
  transition:none;
}
#u5667 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u5667_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5668 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u5668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u5668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5669 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u5669 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u5669_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5670 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:30px;
  width:92px;
  height:34px;
  display:flex;
  transition:none;
}
#u5670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u5670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5671 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:30px;
  width:97px;
  height:34px;
  display:flex;
  transition:none;
}
#u5671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
}
#u5671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:130px;
  height:30px;
  display:flex;
  transition:none;
}
#u5672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u5672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5673 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u5673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5674 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u5674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5674_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u5674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5675 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:64px;
  width:92px;
  height:30px;
  display:flex;
  transition:none;
}
#u5675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u5675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5676 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:64px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
}
#u5676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u5676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5677_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5677_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u5677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5677 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:839px;
  width:105px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5677 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5677_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5677.disabled {
}
.u5677_input_option {
}
#u5678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5678 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:823px;
  width:1px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5678_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u5679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5679 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:840px;
  width:225px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u5680 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:375px;
  width:109px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u5681 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:840px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u5682 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:375px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u5683 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:840px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u5684 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:770px;
  width:392px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u5684 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u5684_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
