body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-327px;
  width:832px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u5975 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:420px;
  width:832px;
  height:109px;
}
#u5976 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
  display:flex;
  transition:none;
}
#u5976 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5976_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:49px;
}
#u5976_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5977 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:0px;
  width:90px;
  height:49px;
  display:flex;
  transition:none;
}
#u5977 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5977_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:49px;
}
#u5977_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5978 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:0px;
  width:94px;
  height:49px;
  display:flex;
  transition:none;
}
#u5978 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5978_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:49px;
}
#u5978_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5979 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:0px;
  width:117px;
  height:49px;
  display:flex;
  transition:none;
}
#u5979 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5979_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:49px;
}
#u5979_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5980 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:0px;
  width:101px;
  height:49px;
  display:flex;
  transition:none;
}
#u5980 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5980_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:49px;
}
#u5980_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5981 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:0px;
  width:107px;
  height:49px;
  display:flex;
  transition:none;
}
#u5981 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5981_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:49px;
}
#u5981_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5982 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:0px;
  width:104px;
  height:49px;
  display:flex;
  transition:none;
}
#u5982 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5982_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:49px;
}
#u5982_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5983 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:0px;
  width:104px;
  height:49px;
  display:flex;
  transition:none;
}
#u5983 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5983_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:49px;
}
#u5983_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5984 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:49px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u5984 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5984_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u5984_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5985 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:49px;
  width:90px;
  height:30px;
  display:flex;
  transition:none;
}
#u5985 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5985_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5985_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5986 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:49px;
  width:94px;
  height:30px;
  display:flex;
  transition:none;
}
#u5986 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5986_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u5986_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5987 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:49px;
  width:117px;
  height:30px;
  display:flex;
  transition:none;
}
#u5987 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5987_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u5987_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5988 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:49px;
  width:101px;
  height:30px;
  display:flex;
  transition:none;
}
#u5988 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5988_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u5988_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5989 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:49px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u5989 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5989_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u5989_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5990 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:49px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5990 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5990_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5990_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5991 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:49px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5991 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5991_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5991_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5992 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:79px;
  width:115px;
  height:30px;
  display:flex;
  transition:none;
}
#u5992 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5992_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u5992_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u5993 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:79px;
  width:90px;
  height:30px;
  display:flex;
  transition:none;
}
#u5993 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5993_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:30px;
}
#u5993_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5994 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:79px;
  width:94px;
  height:30px;
  display:flex;
  transition:none;
}
#u5994 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5994_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:30px;
}
#u5994_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5995 {
  border-width:0px;
  position:absolute;
  left:299px;
  top:79px;
  width:117px;
  height:30px;
  display:flex;
  transition:none;
}
#u5995 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5995_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u5995_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5996 {
  border-width:0px;
  position:absolute;
  left:416px;
  top:79px;
  width:101px;
  height:30px;
  display:flex;
  transition:none;
}
#u5996 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5996_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:30px;
}
#u5996_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5997 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:79px;
  width:107px;
  height:30px;
  display:flex;
  transition:none;
}
#u5997 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5997_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:30px;
}
#u5997_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5998 {
  border-width:0px;
  position:absolute;
  left:624px;
  top:79px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5998 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5998_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5998_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u5999 {
  border-width:0px;
  position:absolute;
  left:728px;
  top:79px;
  width:104px;
  height:30px;
  display:flex;
  transition:none;
}
#u5999 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u5999_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:30px;
}
#u5999_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6000_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6000 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:375px;
  width:225px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6000 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6000_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6001_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u6001 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:375px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6001 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6001_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6002_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6002 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:714px;
  width:64px;
  height:37px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6002 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6002_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6003_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6003 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:725px;
  width:56px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6003 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6003_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6004 {
  border-width:0px;
  position:absolute;
  left:327px;
  top:898px;
  width:519px;
  height:94px;
}
#u6005 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
  display:flex;
  transition:none;
}
#u6005 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6005_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u6005_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6006 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u6006 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6006_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6007 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u6007 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6007_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6007_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6008 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:0px;
  width:92px;
  height:30px;
  display:flex;
  transition:none;
}
#u6008 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6008_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u6008_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6009 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:0px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
}
#u6009 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u6009_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6010 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:130px;
  height:34px;
  display:flex;
  transition:none;
}
#u6010 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6010_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:34px;
}
#u6010_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6011 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u6011 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6011_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u6011_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6012 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:30px;
  width:100px;
  height:34px;
  display:flex;
  transition:none;
}
#u6012 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6012_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:34px;
}
#u6012_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6013 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:30px;
  width:92px;
  height:34px;
  display:flex;
  transition:none;
}
#u6013 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6013_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:34px;
}
#u6013_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6014 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:30px;
  width:97px;
  height:34px;
  display:flex;
  transition:none;
}
#u6014 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6014_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:34px;
}
#u6014_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6015 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:64px;
  width:130px;
  height:30px;
  display:flex;
  transition:none;
}
#u6015 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6015_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:30px;
}
#u6015_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6016 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u6016 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6016_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6016_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6017 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:64px;
  width:100px;
  height:30px;
  display:flex;
  transition:none;
}
#u6017 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6017_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6017_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6018 {
  border-width:0px;
  position:absolute;
  left:330px;
  top:64px;
  width:92px;
  height:30px;
  display:flex;
  transition:none;
}
#u6018 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6018_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:30px;
}
#u6018_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6019 {
  border-width:0px;
  position:absolute;
  left:422px;
  top:64px;
  width:97px;
  height:30px;
  display:flex;
  transition:none;
}
#u6019 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6019_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:30px;
}
#u6019_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6020_input {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6020_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u6020_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6020 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:839px;
  width:105px;
  height:31px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6020 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6020_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:31px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6020.disabled {
}
.u6020_input_option {
}
#u6021_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6021 {
  border-width:0px;
  position:absolute;
  left:684px;
  top:823px;
  width:1px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6021 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6021_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u6022_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6022 {
  border-width:0px;
  position:absolute;
  left:460px;
  top:840px;
  width:225px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6022 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6022_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6023_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u6023 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:375px;
  width:109px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6023 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6023_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6024_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u6024 {
  border-width:0px;
  position:absolute;
  left:806px;
  top:840px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6024 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6024_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6025_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u6025 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:375px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6025 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6025_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6026_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u6026 {
  border-width:0px;
  position:absolute;
  left:710px;
  top:840px;
  width:64px;
  height:30px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6026 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6026_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6027_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:392px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u6027 {
  border-width:0px;
  position:absolute;
  left:335px;
  top:770px;
  width:392px;
  height:32px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u6027 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6027_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
