body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-148px;
  width:634px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u9829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:457px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9829 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:107px;
  width:457px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u9829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9829_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9830_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:634px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9830 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:180px;
  width:634px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9830 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9830_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:372px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9831 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:217px;
  width:372px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9831 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9831_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9832_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:355px;
  height:199px;
  background:inherit;
  background-color:rgba(8, 24, 33, 1);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9832 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:280px;
  width:355px;
  height:199px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9832 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#E5DEDE;
}
#u9833 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:293px;
  width:119px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#E5DEDE;
}
#u9833 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9833_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:313px;
  height:10px;
  background:inherit;
  background-color:rgba(33, 48, 57, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u9834 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:352px;
  width:313px;
  height:10px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9834 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:8px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#CBC3C3;
}
#u9835 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:326px;
  width:8px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#CBC3C3;
}
#u9835 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9835_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  color:#CBC3C3;
}
#u9836 {
  border-width:0px;
  position:absolute;
  left:466px;
  top:326px;
  width:16px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#CBC3C3;
}
#u9836 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9836_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9837 {
  border-width:0px;
  position:absolute;
  left:298px;
  top:338px;
  width:35px;
  height:35px;
  display:flex;
  transition:none;
}
#u9837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9837_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u9837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#E5DEDE;
}
#u9838 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:404px;
  width:72px;
  height:21px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#E5DEDE;
}
#u9838 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9838_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u9839 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:400px;
  width:67px;
  height:42px;
  display:flex;
  transition:none;
}
#u9839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u9839_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:42px;
}
#u9839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u9840_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u9840 {
  border-width:0px;
  position:absolute;
  left:148px;
  top:136px;
  width:182px;
  height:16px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u9840 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u9840_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
